{% extends "base.html" %}

{% block title %}BSM{% endblock %}

{% block header %}
<div class="header">
    European Option Pricing (under development)
</div>
{% endblock %}

{% block content %}
<div class="flex-header">
  <form action="/">
    <button type="submit" name="app_mode" value="BSM" onclick="alert('Coming soon!')">Black-Scholes-Merton model</button>
    <button type="submit" name="app_mode" value="MC" onclick="alert('Coming soon!')">Monte Carlo simulation</button>
  </form>
</div>
{% endblock %}

