$def with (type, industry, cap, benchmark, revenue_g, wacc, risk_free, credit_spread, market_return, beta, tax_rate, equity_ratio)

$if wacc == None and type == None:
    <div class="flex-menu">
      <form action="/private-wacc" method="POST">
        <button type="submit" name="type" value="beta" >WACC with beta estimation</button>
        <button type="submit" name="type" value="non_beta" >WACC without beta estimation</button>
      </form>
    </div>

$elif wacc == None and type == "non_beta":
    <form action="/private-wacc" method="POST">
        <table border="1" class="dataframe_wacc">
          <thead>
            <tr style="text-align: right;">
              <th>Cost of debt</th>
              <th>(in decimals)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Risk-free rate</th>
              <td><input type="number" name="risk_free" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Credit spread</th>
              <td><input type="number" name="credit_spread" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table>
        <table border="1" class="dataframe_wacc">
          <thead>
            <tr style="text-align: right;">
              <th>Cost of equity</th>
              <th>(in decimals)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Market return</th>
              <td><input type="number" name="market_return" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Company beta</th>
              <td><input type="number" name="beta" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table>
        <table border="1" class="dataframe_wacc">
          <tbody>
            <tr>
              <th>Tax rate</th>
              <td><input type="number" name="tax_rate" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Equity ratio</th>
              <td><input type="number" name="equity_ratio" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table><br>
        <button class="action" type="submit" name="type" value="non_beta">Calculate</button>
    </form>

$elif wacc == None and type == "beta":
    $if industry == None:
        $if cap == None:
          <div class="flex-info">
            <div id="emoji-info">&#128071</div>
            <div>Please select comparison criteria</div>
          </div><br>
        $elif cap != None:
          <div class="flex-alert">
            <div id="emoji-alert">&#9888</div>
            <div>No information found - please select new comparison criteria</div>
          </div><br>

        <form action="/private-wacc" method="POST">

          <label><strong>Market cap:</strong></label>
          <select name="cap">
            <option value="small">Small Cap</option>
            <option value="mid">Mid Cap</option>
            <option value="large">Large Cap</option>
          </select><br><br>

          <label><strong>Industry:</strong></label>
          <input list="industry" name="industry">
          <datalist id="industry">
            <option value="Advertising Agencies">
            <option value="Aerospace & Defense">
            <option value="Agricultural Inputs">
            <option value="Airlines">
            <option value="Airports & Air Services">
            <option value="Aluminum">
            <option value="Apparel Manufacturing">
            <option value="Apparel Retail">
            <option value="Asset Management">
            <option value="Auto & Truck Dealerships">
            <option value="Auto Manufacturers">
            <option value="Auto Parts">
            <option value="Banks—Diversified">
            <option value="Banks—Regional">
            <option value="Beverages—Brewers">
            <option value="Beverages—Non—Alcoholic">
            <option value="Beverages—Wineries & Distilleries">
            <option value="Biotechnology">
            <option value="Broadcasting">
            <option value="Building Materials">
            <option value="Building Products & Equipment">
            <option value="Business Equipment & Supplies">
            <option value="Business Services">
            <option value="Capital Markets">
            <option value="Chemicals">
            <option value="Coking Coal">
            <option value="Communication Equipment">
            <option value="Communication Services">
            <option value="Computer Hardware">
            <option value="Confectioners">
            <option value="Conglomerates">
            <option value="Consulting Services">
            <option value="Consumer Electronics">
            <option value="Copper">
            <option value="Credit Services">
            <option value="Department Stores">
            <option value="Diagnostics & Research">
            <option value="Discount Stores">
            <option value="Drug Manufacturers—General">
            <option value="Drug Manufacturers—Specialty & Generic">
            <option value="Education & Training Services">
            <option value="Electrical Equipment & Parts">
            <option value="Electronic Components">
            <option value="Electronic Gaming & Multimedia">
            <option value="Electronics & Computer Distribution">
            <option value="Engineering & Construction">
            <option value="Entertainment">
            <option value="Farm & Heavy Construction Machinery">
            <option value="Farm Products">
            <option value="Financial Conglomerates">
            <option value="Financial Data & Stock Exchanges">
            <option value="Food Distribution">
            <option value="Footwear & Accessories">
            <option value="Furnishings, Fixtures & Appliances">
            <option value="Gambling">
            <option value="Gold">
            <option value="Grocery Stores">
            <option value="Health Information Services">
            <option value="Healthcare Plans">
            <option value="Home Improvement Retail">
            <option value="Homebuilding & Construction">
            <option value="Household & Personal Products">
            <option value="Industrial Distribution">
            <option value="Information Technology Services">
            <option value="Infrastructure Operations">
            <option value="Insurance">
            <option value="Insurance Brokers">
            <option value="Insurance—Diversified">
            <option value="Insurance—Life">
            <option value="Insurance—Property & Casualty">
            <option value="Insurance—Reinsurance">
            <option value="Insurance—Specialty">
            <option value="Integrated Freight & Logistics">
            <option value="Internet Content & Information">
            <option value="Internet Retail">
            <option value="Leisure">
            <option value="Lodging">
            <option value="Lumber & Wood Production">
            <option value="Luxury Goods">
            <option value="Marine Shipping">
            <option value="Marketing Services">
            <option value="Medical Care Facilities">
            <option value="Medical Devices">
            <option value="Medical Distribution">
            <option value="Medical Instruments & Supplies">
            <option value="Metal Fabrication">
            <option value="Mortgage Finance">
            <option value="N/A">
            <option value="Oil & Gas Drilling">
            <option value="Oil & Gas E&P">
            <option value="Oil & Gas Equipment & Services">
            <option value="Oil & Gas Integrated">
            <option value="Oil & Gas Midstream">
            <option value="Oil & Gas Refining & Marketing">
            <option value="Other Industrial Metals & Mining">
            <option value="Other Precious Metals & Mining">
            <option value="Packaged Foods">
            <option value="Packaging & Containers">
            <option value="Paper & Paper Products">
            <option value="Personal Services">
            <option value="Pharmaceutical Retailers">
            <option value="Pollution & Treatment Controls">
            <option value="Property Management">
            <option value="Publishing">
            <option value="Railroads">
            <option value="Real Estate Services">
            <option value="Real Estate—Development">
            <option value="Real Estate—Diversified">
            <option value="Recreational Vehicles">
            <option value="REIT—Diversified">
            <option value="REIT—Healthcare Facilities">
            <option value="REIT—Hotel & Motel">
            <option value="REIT—Industrial">
            <option value="REIT—Mortgage">
            <option value="REIT—Office">
            <option value="REIT—Residential">
            <option value="REIT—Retail">
            <option value="REIT—Specialty">
            <option value="Rental & Leasing Services">
            <option value="Residential Construction">
            <option value="Resorts & Casinos">
            <option value="Restaurants">
            <option value="Retail Apparel & Specialty">
            <option value="Scientific & Technical Instruments">
            <option value="Security & Protection Services">
            <option value="Semiconductor Equipment & Materials">
            <option value="Semiconductors">
            <option value="Shell Companies">
            <option value="Silver">
            <option value="Software—Application">
            <option value="Software—Infrastructure">
            <option value="Solar">
            <option value="Specialty Business Services">
            <option value="Specialty Chemicals">
            <option value="Specialty Industrial Machinery">
            <option value="Specialty Retail">
            <option value="Staffing & Employment Services">
            <option value="Steel">
            <option value="Telecom Services">
            <option value="Telecom Services — Foreign">
            <option value="Textile Manufacturing">
            <option value="Thermal Coal">
            <option value="Tobacco">
            <option value="Tools & Accessories">
            <option value="Travel Services">
            <option value="Trucking">
            <option value="Uranium">
            <option value="Utilities Regulated">
            <option value="Utilities—Diversified">
            <option value="Utilities—Independent Power Producers">
            <option value="Utilities—Regulated Electric">
            <option value="Utilities—Regulated Gas">
            <option value="Utilities—Regulated Water">
            <option value="Utilities—Renewable">
            <option value="Waste Management">
          </datalist><br><br><br>
          <button class="action" type="submit" name="type" value="beta">Import Data</button>
        </form>

    $elif industry != None:
        $if beta == None:
          $if cap == None:
            <div class="flex-info">
                <div id="emoji-info2">&#9997</div>
                <div>Please enter the ticker of benchmark company, effective tax rate and equity ratio of target company</div>
            </div><br>
          $elif cap != None:
            <div class="flex-alert">
                <div id="emoji-alert2">&#9888</div>
                <div>Missing information - please select another ticker</div>
            </div><br>

          <form action="/private-wacc" method="POST">
              <table border="1" class="dataframe_wacc">
                <tbody>
                  <tr>
                    <th>Ticker</th>
                    <td><input type="text" name="benchmark" required="required" onkeyup="this.value = this.value.toUpperCase();"
                          pattern="[A-Za-z]{1,5}" title="One-to-five letter stock code"></td>
                  </tr>
                  <tr>
                    <th>Tax rate</th>
                    <td><input type="number" name="tax_rate" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
                  </tr>
                  <tr>
                    <th>Equity ratio</th>
                    <td><input type="number" name="equity_ratio" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
                  </tr>
                </tbody>
              </table><br><br>
              <button class="action" type="submit" name="type" value="beta">Calculate Beta</button><br><br>
          </form>

          <iframe src="/Beta" width="100%" height="100%" style="border:none;" sandbox="allow-same-origin"
          onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';">> </iframe>


        $elif beta != None:
            <form action="/private-wacc" method="POST">
                <table border="1" class="dataframe_wacc">
                  <thead>
                    <tr style="text-align: right;">
                      <th>Cost of debt</th>
                      <th>(in decimals)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Risk-free rate</th>
                      <td><input type="number" name="risk_free" value=$risk_free readonly></td>
                    </tr>
                    <tr>
                      <th>Credit spread</th>
                      <td><input type="number" name="credit_spread" required="required" autofocus min="0.0001" step="0.0001"
                                 value="0.0000"></td>
                    </tr>
                  </tbody>
                </table>
                <table border="1" class="dataframe_wacc">
                  <thead>
                    <tr style="text-align: right;">
                      <th>Cost of equity</th>
                      <th>(in decimals)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Market return</th>
                      <td><input type="number" name="market_return" value=$market_return readonly></td>
                    </tr>
                    <tr>
                      <th>Company beta</th>
                      <td><input type="number" name="beta" value=$beta readonly></td>
                    </tr>
                  </tbody>
                </table>
                <table border="1" class="dataframe_wacc">
                  <tbody>
                    <tr>
                      <th>Tax rate</th>
                      <td><input type="number" name="tax_rate" value=$tax_rate readonly></td>
                    </tr>
                    <tr>
                      <th>Equity ratio</th>
                      <td><input type="number" name="equity_ratio" value=$equity_ratio readonly></td>
                    </tr>
                  </tbody>
                </table><br>
                <button class="action" type="submit" name="type" value="beta">Calculate</button>
            </form>
$else:
    <div class="flex-menu">
        <form action="/private-terminal" method="GET">
            <button type="submit">Calculate terminal value</button>
        </form>
    </div><br>
    <table border="1" class="dataframe_indicator">
      <tbody>
        <tr>
          <th>Revenue 4-year CAGR</th>
          <td>$revenue_g</td>
        </tr>
        <tr>
          <th>WACC</th>
          <td>$wacc</td>
        </tr>
        <tr>
          <th>Long-term growth</th>
          <td></td>
        </tr>
        <tr>
          <th>Discounted terminal value</th>
          <td></td>
        </tr>
      </tbody>
    </table>

