{% extends "base.html" %}

{% block title %}DCF{% endblock %}

{% block content %}
{% if net_debt == None %}
    <div class="flex-info">
        <div id="emoji-info">&#128071</div>
        <div>Please enter net debt value</div>
    </div><br>
    <form action="/dcf/private/terminal" method="POST">
        <input type="number" name="net_debt" required="required" autofocus min="1" step="1" value=""><br><br>
        <button class="action" type="submit">Calculate</button>
    </form><br>
{% else %}
    <div class="flex-menu">
      <form action="/dcf/private/terminal" method="POST">
        <button type="submit" name="next_page" value="value">Calculate target value</button>
      </form>
    </div><br>

<table border="1" class="dataframe_indicator">
  <tbody>
    <tr>
      <th>Perpetuity growth rate</th>
      <td>{{ perpetuity_growth }}</td>
    </tr>
    <tr>
      <th>Perpetuity cost of capital</th>
      <td>{{ perpetuity_wacc }}</td>
    </tr>
    <tr>
      <th>FCFF at terminal year</th>
      <td>{{ fcff_terminal }}</td>
    </tr>
    <tr>
      <th>Terminal value</th>
      <td>{{ terminal_value }}</td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}