$def with (wacc, g, tv, firm_value, total_debt, equity_value)

<table border="1" class="dataframe_summary">
  <tbody>
    <tr>
      <th>Equity value</th>
      <td>$equity_value</td>
    </tr>
    <tr>
      <th>Total debt</th>
      <td>$total_debt</td>
    </tr>
    <tr>
      <th>Firm value</th>
      <td>$firm_value</td>
    </tr>
  </tbody>
</table>

<table border="1" class="dataframe_summary">
  <tbody>
    <tr>
      <th>WACC</th>
      <td>$wacc</td>
    </tr>
    <tr>
      <th>Long-term growth</th>
      <td>$g</td>
    </tr>
    <tr>
      <th>Terminal value</th>
      <td>$tv</td>
    </tr>
  </tbody>
</table><br>

<div class="flex-menu">
  <form action="/" method="POST">
    <button type="submit" name="app_mode" value="Public">Public company valuation</button>
    <button type="submit" id="private" name="app_mode" value="Private">Private company valuation</button>
  </form>
</div>