<table border="1" class="dataframe dataframe_sp500">
  <thead>
    <tr style="text-align: right;">
      <th>Ticker</th>
      <th>Company Name</th>
      <th>Exchange</th>
      <th>Industry</th>
      <th>Market Cap</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>Apple Inc.</td>
      <td>NASDAQ</td>
      <td>Consumer Electronics</td>
      <td>3,076,499,368,000</td>
      <td>197.81</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>Microsoft Corporation</td>
      <td>NASDAQ</td>
      <td>Software—Infrastructure</td>
      <td>2,742,801,230,400</td>
      <td>369.04</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>Alphabet Inc.</td>
      <td>NASDAQ</td>
      <td>Internet Content &amp; Information</td>
      <td>1,665,892,222,996</td>
      <td>133.86</td>
    </tr>
    <tr>
      <th>AMZN</th>
      <td>Amazon.com, Inc.</td>
      <td>NASDAQ</td>
      <td>Internet Retail</td>
      <td>1,540,602,020,600</td>
      <td>149.08</td>
    </tr>
    <tr>
      <th>NVDA</th>
      <td>NVIDIA Corporation</td>
      <td>NASDAQ</td>
      <td>Semiconductors</td>
      <td>1,209,620,750,000</td>
      <td>489.73</td>
    </tr>
    <tr>
      <th>VITSX</th>
      <td>Vanguard Total Stock Market Index Fund</td>
      <td>NASDAQ</td>
      <td>None</td>
      <td>971,392,942,014</td>
      <td>114.71</td>
    </tr>
    <tr>
      <th>VTSAX</th>
      <td>Vanguard Total Stock Market Index Fund</td>
      <td>NASDAQ</td>
      <td>None</td>
      <td>971,223,590,894</td>
      <td>114.69</td>
    </tr>
    <tr>
      <th>VFIAX</th>
      <td>Vanguard 500 Index Fd Admiral Shs</td>
      <td>NASDAQ</td>
      <td>None</td>
      <td>952,003,354,793</td>
      <td>436.92</td>
    </tr>
    <tr>
      <th>VOO</th>
      <td>Vanguard 500 Index Fund</td>
      <td>AMEX</td>
      <td>None</td>
      <td>938,189,790,358</td>
      <td>433.14</td>
    </tr>
    <tr>
      <th>META</th>
      <td>Meta Platforms, Inc.</td>
      <td>NASDAQ</td>
      <td>Internet Content &amp; Information</td>
      <td>863,358,177,689</td>
      <td>335.95</td>
    </tr>
    <tr>
      <th>TSLA</th>
      <td>Tesla, Inc.</td>
      <td>NASDAQ</td>
      <td>Auto Manufacturers</td>
      <td>794,008,703,052</td>
      <td>249.77</td>
    </tr>
    <tr>
      <th>BRK-A</th>
      <td>Berkshire Hathaway Inc.</td>
      <td>NYSE</td>
      <td>Insurance—Diversified</td>
      <td>781,156,255,763</td>
      <td>546500.06</td>
    </tr>
    <tr>
      <th>BRK-B</th>
      <td>Berkshire Hathaway Inc.</td>
      <td>NYSE</td>
      <td>Insurance—Diversified</td>
      <td>776,575,096,451</td>
      <td>355.23</td>
    </tr>
    <tr>
      <th>LLY</th>
      <td>Eli Lilly and Company</td>
      <td>NYSE</td>
      <td>Drug Manufacturers—General</td>
      <td>539,358,265,120</td>
      <td>568.16</td>
    </tr>
    <tr>
      <th>AVGO</th>
      <td>Broadcom Inc.</td>
      <td>NASDAQ</td>
      <td>Semiconductors</td>
      <td>532,949,721,946</td>
      <td>1140.88</td>
    </tr>
    <tr>
      <th>V</th>
      <td>Visa Inc.</td>
      <td>NYSE</td>
      <td>Credit Services</td>
      <td>518,612,992,063</td>
      <td>258.00</td>
    </tr>
    <tr>
      <th>VTI</th>
      <td>Vanguard Total Stock Market Index Fund</td>
      <td>AMEX</td>
      <td>None</td>
      <td>488,070,777,093</td>
      <td>235.36</td>
    </tr>
    <tr>
      <th>UNH</th>
      <td>UnitedHealth Group Incorporated</td>
      <td>NYSE</td>
      <td>Healthcare Plans</td>
      <td>485,460,760,125</td>
      <td>524.87</td>
    </tr>
    <tr>
      <th>TSM</th>
      <td>Taiwan Semiconductor Manufacturing Company Limited</td>
      <td>NYSE</td>
      <td>Semiconductors</td>
      <td>482,923,022,345</td>
      <td>103.64</td>
    </tr>
    <tr>
      <th>JPM</th>
      <td>JPMorgan Chase &amp; Co.</td>
      <td>NYSE</td>
      <td>Banks—Diversified</td>
      <td>473,663,078,400</td>
      <td>163.84</td>
    </tr>
  </tbody>
</table>