{% extends "base.html" %}

{% block title %}SWP{% endblock %}

{% block header %}
<div class="header">
    Interest Rate Swaps Pricing and Valuation (under development)
</div>
{% endblock %}

{% block content %}
<div class="flex-header">
  <form action="/">
    <button type="submit" name="app_mode" value="OIS" onclick="alert('Coming soon!')">Overnight Indexed Swap (OIS)</button>
    <button type="submit" name="app_mode" value="IRS" onclick="alert('Coming soon!')">Interest Rate Swap (IRS)</button>
  </form>
</div>
{% endblock %}

