<html lang="en-us">
    <head>

        <!-- Title -->
        <title>{% block title %}{% endblock %} - ValueCraft</title>

        <!--Header-->
        <header>{% block header %}{% endblock %}</header>

        <!-- CSS linkage -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- Favicon linkage -->
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">

        <!-- General meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="Financial valuation and modeling projects" />
        <meta name="keywords" content="equity valuation, option pricing, swap valuation, DCF, BSM, Monte Carlo, OIS, IRS" />
        <meta name="author" content="Huseyn Ibrahimli, CFA">
        <meta property="website:published_time" content="2024-01-09T09:00:00+00:00">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open graph meta tags -->
        <meta property="og:title" content="Financial valuation and modeling projects" />
        <meta property="og:url" content="https://www.valuecraft.de/">
        <meta property="og:image" content="https://www.valuecraft.de/static/thumbnail.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Financial valuation and modeling projects - equity valuation using Discounted Cash Flow method,
                                                option pricing using Black-Scholes-Merton model and Monte Carlo simulation, interest rate swaps
                                                pricing and valuation" />

        <!-- Font Awesome 5 -->
        <script src="https://kit.fontawesome.com/e2899382f8.js" crossorigin="anonymous"></script>

        <!-- Google site verification -->
        <meta name="google-site-verification" content="BGWRacjNFgmucQYbq4P9Cfdhc_S09UHXQ8EM_7AsMkA" />

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QWYD7L1FVT"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-QWYD7L1FVT');
        </script>

    </head>
    <body>{% block content %}{% endblock %}</body>
</html>




