{% extends "base.html" %}

{% block title %}DCF{% endblock %}

{% block content %}
<div class="flex-menu">
  <form action="/dcf/public/terminal" method="POST">
    <button type="submit" name="next_page" value="value">Calculate target value</button>
  </form>
</div><br>

<table border="1" class="dataframe_indicator">
  <tbody>
    <tr>
      <th>Market ticker</th>
      <td>{{ ticker }}</td>
    </tr>
    <tr>
      <th>Perpetuity growth rate</th>
      <td>{{ perpetuity_growth }}</td>
    </tr>
    <tr>
      <th>Perpetuity cost of capital</th>
      <td>{{ perpetuity_wacc }}</td>
    </tr>
    <tr>
      <th>FCF at terminal year</th>
      <td>{{ fcf_terminal }}</td>
    </tr>
    <tr>
      <th>Terminal value</th>
      <td>{{ terminal_value }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}

