{% extends "base.html" %}

{% block title %}DCF{% endblock %}

{% block content %}
<table border="1" class="dataframe_summary">
  <tbody>
    <tr>
      <th>Market ticker</th>
      <td>{{ ticker }}</td>
    </tr>
    <tr>
      <th>Estimated target price</th>
      <td>{{ target_price }}</td>
    </tr>
    <tr>
      <th>Actual market price</th>
      <td>{{ market_price }}</td>
    </tr>
  </tbody>
</table>

<table border="1" class="dataframe_summary">
  <tbody>
    <tr>
      <th>WACC</th>
      <td>{{ wacc }}</td>
    </tr>
    <tr>
      <th>Perpetuity growth rate</th>
      <td>{{ g }}</td>
    </tr>
    <tr>
      <th>Discounted terminal value</th>
      <td>{{ tv }}</td>
    </tr>
  </tbody>
</table>

<table border="1" class="dataframe_summary">
  <tbody>
    <tr>
      <th>Equity value</th>
      <td>{{ equity_value }}</td>
    </tr>
    <tr>
      <th>Net debt</th>
      <td>{{ net_debt }}</td>
    </tr>
    <tr>
      <th>Firm value</th>
      <td>{{ firm_value }}</td>
    </tr>
    <tr>
      <th>Shares</th>
      <td>{{ n_shares }}</td>
    </tr>
  </tbody>
</table>

<div class="flex-menu">
  <form action="/dcf" method="POST">
    <button type="submit" name="app_mode" value="Public">Public company valuation</button>
    <button type="submit" id="private" name="app_mode" value="Private">Private company valuation</button>
  </form>
</div>
{% endblock %}