{% extends "base.html" %}

{% block title %}DCF{% endblock %}

{% block content %}
{% if wacc == None and type == None %}
    <div class="flex-menu">
      <form action="/dcf/public/wacc" method="POST">
        <button type="submit" name="type" value="auto" >Calculate WACC automatically</button>
        <button type="submit" name="type" value="manual" >Calculate WACC manually</button>
      </form>
    </div>

{% elif wacc == None and type == "manual" %}
    <form action="/dcf/public/wacc" method="POST">
        <table border="1" class="dataframe_wacc">
          <thead>
            <tr>
              <th>Cost of debt</th>
              <th>(in decimals)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Risk-free rate</th>
              <td><input type="number" name="risk_free" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Credit spread</th>
              <td><input type="number" name="credit_spread" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table>
        <table border="1" class="dataframe_wacc">
          <thead>
            <tr>
              <th>Cost of equity</th>
              <th>(in decimals)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Implied ERP</th>
              <td><input type="number" name="equity_risk_premium" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Company beta</th>
              <td><input type="number" name="beta" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table>
        <table border="1" class="dataframe_wacc">
          <tbody>
            <tr>
              <th>Effective tax rate</th>
              <td><input type="number" name="tax_rate" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
            <tr>
              <th>Equity weight</th>
              <td><input type="number" name="equity_weight" required="required" min="0.0001" step="0.0001" value="0.0000"></td>
            </tr>
          </tbody>
        </table><br>
        <button class="action" type="submit" name="type" value="manual">Calculate</button>
    </form>

{% else %}
    <div class="flex-menu">
        <form action="/dcf/public/wacc" method="POST">
            <button type="submit" name="next_page" value="fcf">Calculate free cash flow</button>
        </form>
    </div><br>
    <table border="1" class="dataframe_indicator">
      <tbody>
        <tr>
          <th>WACC</th>
          <td>{{ wacc }}</td>
        </tr>
        <tr>
          <th>Cost of debt</th>
          <td>{{ cost_debt }}</td>
        </tr>
        <tr>
          <th>Risk-free rate</th>
          <td>{{ risk_free }}</td>
        </tr>
        <tr>
          <th>Credit spread</th>
          <td>{{ credit_spread }}</td>
        </tr>
        <tr>
          <th>Cost of equity</th>
          <td>{{ cost_equity }}</td>
        </tr>
        <tr>
          <th>Implied ERP</th>
          <td>{{ equity_risk_premium }}</td>
        </tr>
        <tr>
          <th>Company beta</th>
          <td>{{ beta }}</td>
        </tr>
        <tr>
          <th>Effective tax rate</th>
          <td>{{ tax_rate }}</td>
        </tr>
        <tr>
          <th>Equity weight</th>
          <td>{{ equity_weight }}</td>
        </tr>
      </tbody>
    </table>
{% endif %}
{% endblock %}
